.trailer{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    top: 53%;
    left: 50%;
    padding: 3rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
    transform: translate(-53%, -50%);
}

.trailer-app{
    width: 75%;
}

.close-button{
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    background-color: rgba(51, 51, 51, .5);
    cursor: pointer;
    margin-right: 1rem;
}

.close-button:hover {
    background-color: red;
}

.button-countainer{
    text-align: center;
    margin: 1rem;
}